<a href="https://colab.research.google.com/github/hamzaCHaali-web/exercice/blob/main/exercice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ex16

SUITE Somme S=1+1/2+...+1/n

In [ ]:
n=int(input("Entry le numbre ."))
s=0
for i in range(1,n+1):
  term= ((-1) ** (i + 1)) / i
  s+=term
print(s)

Entry le numbre .100
0.688172179310195

Suite Somme de S= 1-2+3-4+5-6+...-+*n*

In [ ]:
n=int(input("Entry le numbre ."))
s=0
for i in range(1,n+1):
  term= ((-1) ** (i + 1))*i
  s+=term
print(s)

Entry le numbre .6
-3

Suite Somme de S= 1²-2²+3²-4²+5²-6²+...-+*n²*

In [ ]:
n=int(input("Entry le numbre ."))
s=0
for i in range(1,n+1):
  term= ((-1) ** (i + 1))*(i**2)
  s+=term
print(s)

Entry le numbre .6
-21

Suite Somme de S= 1*2-2*3+3*4-4*5+5*6-6*7+...+-n(n+1)

In [ ]:
n=int(input("Entry le numbre ."))
s=0
for i in range(1,n+1):
  term= (i*((-1)**(i+1)))*(i+1)
  s+=term
print(s)

Entry le numbre .4
-12

S=1-3+5-7...n

In [ ]:
n=int(input("Entry le numbre ."))
s=0
for i in range(1,n+1):
  term= (2*i-1)*((-1)**(i+1))
  s+=term
print(s)

Entry le numbre .5
5

PARTE 2 LES TABLEUS ET LES CHINE

EX2

In [ ]:
L=[1,2,3,4]
L2= L[::] #\\ or L.copy()
L2.reverse()
print(f"Avant : {L} Après : {L2}")

Avant : [1, 2, 3, 4] Après : [4, 3, 2, 1]

EX3

In [ ]:
Array = [1,2,3,4,5,6,7,8,9]
X=int(input("Entry le numbre ."))
for i in range(len(Array)):
  if Array[i]==X:
    print(f"L'index de {X} est {i}")

Entry le numbre .3
L'index de 3 est 2
L'index de 3 est 3

EX4

In [ ]:
a=[4,5]
b=[1,2,3]
c=b+a
print(c)

[1, 2, 3, 4, 5]


EX5

In [33]:
n = int(input("Entrez le nombre d'elements du tableau: "))

tableau = []
for i in range(n):
    val = int(input(f"Entrez l'element {i+1}: "))
    tableau.append(val)
print("\nTableau avant tri:", tableau)
print("Tableau apres tri:", sorted(tableau))
#Array 6 items
print("Initial Array :",tableau)
print("Sorted start :")0
for i in range(len(tableau)-1):
  for j in range(len(tableau)-1):
    # print(f"{numbers[j]} |{numbers[j+1]}")
    if tableau[j]>tableau[j+1]:
      tableau[j],tableau[j+1]=tableau[j+1],tableau[j]
print(tableau)
      # print(numbers[i]>numbers[i+1])

Entrez le nombre d'elements du tableau: 6
Entrez l'element 1: 9
Entrez l'element 2: 4
Entrez l'element 3: 0
Entrez l'element 4: -60
Entrez l'element 5: 3
Entrez l'element 6: 3

Tableau avant tri: [9, 4, 0, -60, 3, 3]
Tableau apres tri: [-60, 0, 3, 3, 4, 9]
Initial Array : [9, 4, 0, -60, 3, 3]
Sorted start :
[-60, 0, 3, 3, 4, 9]

Exercices sur les chaines de caractères :

Exercice 1:

In [58]:
text="""Le dimanche 19 juin, Radio France mettra en vente une partie de sa collection de vinyles. Au total, 8000 disques seront mis en vente lors d'une vente aux enchères.

Cette vente intéressera les collectionneurs comme les curieux, les sampleurs comme les nostalgiques.

Parmi les lots proposés, des bandes originales de films dont certaines sont rarissimes (les bandes originales de films sont rassemblées dans les lots 48 à 85 )

Concernant le jazz,  tout y est ! De John Coltrane à Miles Davis en passant par Billie Holliday,  Thelonious Monk et tant d'autres !

Des lots de rap pourront également retenir votre attention avec notamment Planète Mars d'IAM, Paul's Boutique des Beastie Boys ou encore Amerikka's Most Wanted d'Ice Cube."""
count=0
for i in text :
  if(i):
    count+=1
print(f"Le nombre de caractère dans le text est : {count}")

print(len(text))

Le nombre de caractère dans le text est : 733
733

Exercice 2:

In [56]:
voyelles = [['a',0], ['e',0],[ 'i',0],['o',0], ['u',0],['y',0]]
text="""Le dimanche 19 juin, Radio France mettra en vente une partie de sa collection de vinyles. Au total, 8000 disques seront mis en vente lors d'une vente aux enchères.

Cette vente intéressera les collectionneurs comme les curieux, les sampleurs comme les nostalgiques.

Parmi les lots proposés, des bandes originales de films dont certaines sont rarissimes (les bandes originales de films sont rassemblées dans les lots 48 à 85 )

Concernant le jazz,  tout y est ! De John Coltrane à Miles Davis en passant par Billie Holliday,  Thelonious Monk et tant d'autres !

Des lots de rap pourront également retenir votre attention avec notamment Planète Mars d'IAM, Paul's Boutique des Beastie Boys ou encore Amerikka's Most Wanted d'Ice Cube."""

for i in range(len(voyelles)):
  for j in text:
    if voyelles[i][0] ==j:
       voyelles[i][1]+=1
print("List des voyelles dan le text est :\n")
for t in range(len(voyelles)):
    print(f"{voyelles[t][0]} ==> {voyelles[t][1]}")

List des voyelles dan le text est :

a ==> 41
e ==> 87
i ==> 33
o ==> 39
u ==> 20
y ==> 4

**Ex 3:**

In [65]:
text = "Python"
chars = list(text)  # ['P', 'y', 't', 'h', 'o', 'n']

for i in range(len(chars) // 2):
    chars[i], chars[-1 - i] = chars[-1 - i], chars[i]

text = ''.join(chars)
print(text)
 #ou print(text[::-1])

nohtyP

EX4 :

In [67]:
text = input("Entre la chaine")
chars = list(text)  # ['P', 'y', 't', 'h', 'o', 'n']

for i in range(len(chars) // 2):
    chars[i], chars[-1 - i] = chars[-1 - i], chars[i]

textEdit = ''.join(chars)
if(text==textEdit):
  print(f"Le text {text}  est Palindrome .")
else:
  print(f"Le text {text}  n'est pas Palindrome .")

Le text radar  est Palindrome .

Exercice 5:

In [71]:
text = "banane"
character = "a"
count=0
for  i in text:
  if i ==character:
    count +=1
print(f"{character} ===> {count}")

a ===> 2

Exercice 6:

In [78]:
texte = input("Entrer la chaine : ")
n = int(input("Entrer le decalage : "))
resultat = ""
for caractere in texte:
    if 'a' <= caractere <= 'z':
        chiffre = chr((ord(caractere) - 97 + n) % 26 + 97)
        resultat += chiffre
    else:
        resultat += caractere

print("Resultat :", resultat)

Entrer la chaine : uyeqoyzcoqazcqiqososqkskoqyiqoyhwvtp
Entrer le decalage : 6
Resultat : aekwuefiuwgfiwowuyuywqyquweowuencbzv

EX7:

In [77]:
texte = input("Entrer la chaine : ")
n = int(input("Entrer le decalage : "))
resultat = ""
for caractere in texte:
    if 'a' <= caractere <= 'z':
        chiffre = chr((ord(caractere) - 97 - n) % 26 + 97)
        resultat += chiffre
    else:
        resultat += caractere

print("Resultat :", resultat)

Entrer la chaine : aekwuefiuwgfiwowuyuywqyquweowuencbzv
Entrer le decalage : 6
Resultat : uyeqoyzcoqazcqiqososqkskoqyiqoyhwvtp

Exercice 8 : Cryptage par code ASCII

In [79]:
texte = input("Entrer la chaine : ")
crypted=""
for i in text:
  crypted +=f"{ord(i)} "
print(crypted)

Entrer la chaine : abxed
98 97 110 97 110 101

Exercice 9 :

In [80]:
texte = input("Entrer la chaine : ")
n = int(input("Entrer le decalage : "))
resultat = ""
for caractere in texte:
    if 'a' <= caractere <= 'z':
        chiffre = chr((ord(caractere) - 97 + n) % 26 + 97)
        resultat += chiffre
    elif 'A' <= caractere <= 'Z':
      chiffre = chr((ord(caractere) - 65 + n) % 26 + 65)
    else:
        resultat += caractere

print("Resultat :", resultat)

Entrer la chaine : Amvodo[d
Entrer le decalage : 3
Resultat : pyrgr[g

Exercice 10 :

In [82]:
voyelle_chiffree = [
    ["a", 1],
    ["e", 2],
    ["i", 3],
    ["o", 4],
    ["u", 5]
]
chain=input("Entre la Chaine :")
for i in range(len(voyelle_chiffree)):
  for j in chain:
    if voyelle_chiffree[i][0] ==j:
       chain=chain.replace(j,str(voyelle_chiffree[i][1]))
print(chain)

Entre la Chaine :bonjour
b4nj45r