<a href="https://colab.research.google.com/github/hamzaCHaali-web/exercice/blob/main/exercice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ex16

SUITE Somme S=1+1/2+...+1/n

In [5]:
n=int(input("Entry le numbre ."))
s=0
for i in range(1,n+1):
  term= ((-1) ** (i + 1)) / i
  s+=term
print(s)

Entry le numbre .100
0.688172179310195

Suite Somme de S= 1-2+3-4+5-6+...-+*n*

In [8]:
n=int(input("Entry le numbre ."))
s=0
for i in range(1,n+1):
  term= ((-1) ** (i + 1))*i
  s+=term
print(s)

Entry le numbre .6
-3

Suite Somme de S= 1²-2²+3²-4²+5²-6²+...-+*n²*

In [10]:
n=int(input("Entry le numbre ."))
s=0
for i in range(1,n+1):
  term= ((-1) ** (i + 1))*(i**2)
  s+=term
print(s)

Entry le numbre .6
-21

Suite Somme de S= 1*2-2*3+3*4-4*5+5*6-6*7+...+-n(n+1)

In [16]:
n=int(input("Entry le numbre ."))
s=0
for i in range(1,n+1):
  term= (i*((-1)**(i+1)))*(i+1)
  s+=term
print(s)

Entry le numbre .4
-12

S=1-3+5-7...n

In [20]:
n=int(input("Entry le numbre ."))
s=0
for i in range(1,n+1):
  term= (2*i-1)*((-1)**(i+1))
  s+=term
print(s)

Entry le numbre .5
5

PARTE 2 LES TABLEUS ET LES CHINE

EX2

In [29]:
L=[1,2,3,4]
L2= L[::] #\\ or L.copy()
L2.reverse()
print(f"Avant : {L} Après : {L2}")

Avant : [1, 2, 3, 4] Après : [4, 3, 2, 1]

EX3

In [31]:
Array = [1,2,3,4,5,6,7,8,9]
X=int(input("Entry le numbre ."))
for i in range(len(Array)):
  if Array[i]==X:
    print(f"L'index de {X} est {i}")

Entry le numbre .3
L'index de 3 est 2
L'index de 3 est 3

EX4

In [34]:
a=[4,5]
b=[1,2,3]
c=b+a
print(c)

[1, 2, 3, 4, 5]